/* basic page styling */
body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: Arial, sans-serif
  }

  h1 {
    margin-top: 80px;
}


/* navigation bar styling */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
  position: fixed;
width: 100%;
top: 0;
}
.navbar li {
float: left;
}
.navbar li a {
display: block;
color: #003300;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-weight: bold;
}
.navbar li a.active {
background-color: grey;
}

/* title styling */
.title-container {
  text-align: center;
  color: #000033;
}

/* map styling */
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  margin: 0 auto;
}
 
/* dropdown styling */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dropdown {
  margin-right: 20px;
  margin-top: 20px;
  border: 3px solid #000033; 
  padding: 10px;
}
.dropdown select {
  font-size: 16px;
  font-weight: bold;
}

/* bar and scatter plot styling */
.new-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#bar, #scatter {
  display: inline-block;
  width: 45%;
  margin: 10px;
  vertical-align: top;
  box-sizing: border-box;
}